.to-hydrate{
    -webkit-filter: blur(10px); 
    -moz-filter: blur(10px);
    -o-filter: blur(10px); 
    -ms-filter: blur(10px); 
    filter: url(#blur); 
    filter: blur(10px);  
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-transition: .5s -webkit-filter linear;
    -o-transition: .5s -o-filter linear;

    &["rendered='true'"] {
        filter: blur(0px);
    }
}
